.about-gallery {
    line-height: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.about-gallery > img {
    max-width: 350px;
    width: 300px;             
    border: 5px solid orange;
    border-radius: 10px;
    display: block;
    transition: transform 0.3s ease;
}

.about-gallery img:hover {
    transform: scale(1.05);
}